@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
}


body {
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif; 
    background-color: rgb(163, 228, 221);
    align-items: center;
}

article {
    max-width: 350px;
    box-shadow: 0px 0px 10px 5px rgba(41,41,41,0.3);
    padding: 10px;
    display: block;
    margin: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.inner {
    padding: 10px;
    box-shadow: 0px 0px 4px 4px rgba(41,41,41,0.3);
    border-radius: 10px;
}

img {
    color: blue;
    max-width: 100px;
    max-height: 100px;
    display: block;
    margin: auto;
    border-radius: 100%;
}

h1 {
    text-align: center;
    font-size: 30px;
}

form {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

input[type=email] {
    border: solid 1px rgb(156, 156, 156);
    border-radius: 7px 7px 0 0;
    height: 60px;
    padding: 10px;
}

input[type=password] {
    border: solid 1px rgb(156, 156, 156);
    border-radius: 0 0 7px 7px;
    height: 60px;
    padding: 10px;
    
}

input:focus {
    background-color: rgb(248, 248, 248);
}

button {
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(53, 36, 206);
    color: white;
    height: 60px;
    margin:  20px 0;
    border-radius: 2px;
    border: solid 1px rgb(53, 36, 206);
    border-radius: 7px;
    letter-spacing: 2px;
    transition: all 0.1s ease 0s;
    box-shadow:3px 3px 3px 2px rgba(85, 85, 85, 0.616);
}
    
button:hover {
    background-color: rgba(53, 36, 206, 0.85);
    text-decoration: underline white;
    box-shadow: 0 0 0 0 rgba(53, 36, 206);
}

button:active {
    background-color: rgba(53, 36, 206, 0.85);
    text-decoration: underline white;
    box-shadow: 0;
}

a{
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    color: rgb(156, 156, 156);
    border: solid 1px rgb(156, 156, 156);
    border-radius: 15px;
    margin: 10px 60px;
    padding: 5px;
    transition: all 0.4s ease 0s
}

a:hover {
    background-color: rgb(53, 36, 206);
    border: solid 1px rgb(53, 36, 206);
    text-decoration: underline white;
    color: white;
}